.main {
  padding: 20px;
  column-count: 5;
  column-gap: 10px;
  column-span: all;
  margin: 0 auto;
}

article {
  break-inside: avoid;
  page-break-inside: avoid;
}
.notFound {
  font-family: 'Inter';
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .main {
    column-count: 4;
  }
}

@media screen and (max-width: 1150px) {
  .main {
    column-count: 3;
  }

  .userDiv > .userImg{
    width: 75px;
    height: 75px;
  }

 article:hover .userDiv > .userImg {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 700px) {
  .main {
    column-count: 2;
  }
}

@media screen and (max-width: 375px) {
  .main {
    column-count: 1;
  }
}
