*{
    margin: 0;
    padding: 0;
}
.userDiv{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 20px;
    gap: 10px;
}



.userDiv p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    width: 100%;
    font-size: 16px;
}

.userDiv > .userImg{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 8px solid;
}

.dateDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dateDiv > img {
    width: 20px;
    height: 20px;
}

