.visitButton {
  box-sizing: border-box;
  background-color: var(--visit-button-color);
  border-radius: var(--radius-md);
  width: var(--btn-width);
  height: var(--btn-height);
  gap: var(--gap-small);
  color: var(--color-white);
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  font-style: normal;
}

@media screen and (max-width: 700px) {
  .visitButton {
    width: 90px;
    height: 40px;
    font-size: var(--font-size-small);
  }
}
