.imgCardDiv > a.visitButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  cursor: pointer;
}

.imgCardDiv {
  position: relative;
}

.statsDiv{
  position: absolute;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
