.itemStatDiv {
  opacity: 0;
  z-index: 5;
  background-color: rgba(231, 231, 231, 1);
  border-radius: 30px;
  gap: 3px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemStatDiv > p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}
