* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  background-color: white;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.pinterest {
  cursor: pointer;
}

.pinterest > img {
  height: 40px;
  width: 40px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

header .user {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  gap: 10px;
  background-color: rgba(229, 229, 229, 1);
  color: rgba(117, 117, 117, 1);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

@media screen and (max-width: 890px) {
  header ul {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header .navButton {
    display: none;
  }
}
