
header {
  width: 100%;
  height: 100px;
  background-color: var(--color-white);
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-medium);
}

.pinterest {
  cursor: pointer;
}

.pinterest > img {
  height: 40px;
  width: 40px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-medium);
}

header .user {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-sm);
  gap: var(--gap-small);
  background-color: var(--headerUser-bg);
  color: var(--headerUser-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

@media screen and (max-width: 890px) {
  header ul {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header .navButton {
    display: none;
  }
}
